aiohttp==3.9.5
aiorun==2025.1.1 # Updated to a valid version
beautifulsoup4==4.12.3
redis==5.0.1
tenacity==8.4.1
schedule==1.2.1
rapidfuzz==3.8.1
orjson==3.10.3
pydantic==2.7.1
pydantic-settings==2.2.1
loguru==0.7.2
nltk==3.8.1
asyncio-throttle==0.1.0 # For request throttling
guessit==3.8.0 # Moving guessit to after rapidfuzz as it might have its own dependencies
# Speedups for aiohttp
cchardet==2.1.7
aiodns==3.0.0
