aiohttp==3.9.5
aiorun==2025.1.1
beautifulsoup4==4.12.3
redis==5.0.1
tenacity==8.4.1
schedule==1.2.1
rapidfuzz==3.8.1
orjson==3.10.3
pydantic==2.7.1
pydantic-settings==2.2.1
loguru==0.7.2
nltk==3.8.1
asyncio-throttle==0.1.0
guessit==3.8.0
chardet==5.2.0
mmh3==4.1.0 # Explicitly added for BloomFilter
